
<nav class="navbar navbar-expand-lg " style="background-color: rgb(199, 199, 199);">
  <div class="container-fluid">
    <a class="navbar-brand" href="/page/index"> <img src="/images/logoBlanc.png" alt="logo"></a>
    
    <div class="navbar-nav" style="width: 150px;">
      <div class="navbar-nav">
        <% if (usersession.userID != undefined) { %>
        <a class="nav-link" href="/users/profil/<%= usersession.userID%>">Bonjour <%= usersession.userNAME%></a>
        <a class="nav-link" href="/users/logout">Logout</a>
        <% if (usersession.userROLES === 1) {%>
        <a class="nav-link" href="/dashboard/admin">Admin</a>
        <% }else  {%>
        <% } %>
        <% }else  {%>
        <a class="nav-link" href="/users/login">Login</a>
        <% } %>
      </div>
    </div>
  </div>

  <div class="media">
    <div class="media-body">
      <div class="example">Welcome</div>
      <br>
      <p>
        <br>
        Bienvenue sur le site manga qui repertorie vos animées préférés. <br>
        Si vous ne connaissez pas les manga, c'est ici que votre addiction commencera. <br>
        Tu veux découvrir l'univers ?</p>

      <div class="btn">
        <a class="btnhead" href="/create/account"> Inscrit toi ! </a>
      </div>
    </div>
  </div>

</nav>


</div>
</div>