<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Site De Manga">
    <title>NavBar Dashboard</title>
    <link rel="stylesheet" href="/public/css/navbarDashboard.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>
      
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #0085a1 !important; height: 80px;">
      <a class="navbar-brand" href="/page/index"><img src="/images/logoBlanc.png" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav" style="font-size: 25px;">
            <a class="nav-item nav-link" href="/dashboard/admin">Articles</a>
            <a class="nav-item nav-link" href="/dashboard/users">Users</a>
            <a class="nav-item nav-link" href="/dashboard/listeManga">Liste Manga</a>
            <a class="nav-item nav-link" href="/dashboard/message">Message</a>
          </div>
        </div>
      </nav>