<%- include('./partials/navbarArticle')-%>
<link rel="stylesheet" href="/css/article.css">

    <div class="container">
      <% articles.forEach(function(entry) {%>
      <div class="photo">
        <img src="<%=entry.image%>" class="card-img" alt="..." style="width:12em;" name="image">
      </div>
      <div class="text">
        <h1><%=entry.title%></h1>
        <p><%-entry.content%></p>
        <%});%>
      </div> 
   </div>
   
 