.card {
    display: flex;
    flex-wrap: wrap;
}

.card-img{
    width: auto;
}

/* Post */
.card-body{
    height: 266px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}