.raccourcitextetextSnippetPanelList {
    visibility: hidden;
    display: none;
}   

.raccourcitextetextSnippetOpenButton {
    visibility: hidden;
    display: none;
}

/* Partie CREATE ARTICLE */
.page{
    margin-top: 50px;
}

.titre-article{
    margin-bottom: 20px;
}

.content{
    margin-top: 60px;
}

.content .form-group{
    margin-bottom: 2rem;
}


/* PARTIE ARTICLES AJOUTÉS */

.card {
    display: flex;
    flex-wrap: wrap;
}

.card-img{
    width: auto;
}

.card-body{
    height: 266px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

form a {
    color: rgb(255, 225, 0);
}

form a:hover {
    color: rgb(252, 214, 0);
}


