* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-decoration: none; 
    list-style: none;
}
body{
    height: auto;
    width: 100%;
    float: left ;
    background-color: #e4e4e4;
}
/* section formulaire pour POST -------------------------------  */

.content{
    width: 800px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.page{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    display: flex;
    width: 100%;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}
label {
    margin-top: 5px;
    font-size: medium;
    font-weight: bold;
}

form post{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

label{
    margin-right: 30px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titre-article h1{
    background-color: #5149ed;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    height: 80px;
    width: 100vw;
}

.form-group{
    width: 100%;
    margin: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

}

.form-group4{
    width: 100%;
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-control{
    width: 500px;
    height: 35px;
}

#editor{
    width: 500px;
    z-index: 1;
    color: wheat;
}

.btn{
    margin-top: 25px;
    background-color:  #5149ed;
    color: white;
    width: 350px;
    height: 35px;
    text-align: center;
    cursor: pointer;
    color: white;
    transition: all 0.3s;
    position: relative;
}

.btn span {
    transition: all 0.3s;
}

.btn:hover{
    background-color: white;
    border: 1px solid grey;
    color:  #5149ed;
    width: 350px;
    letter-spacing: 2px;
}


/* section articles postés -------------------------------*/

.titre-ajouté{
    margin-top: 60px;
}

.articles{
    margin-top: 50px;
    height: auto;
    width: 750px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card{
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
    justify-content:space-between ;
    flex-direction: row;
    width: 100%;
    height: 150px;
}
.text{
    width: 300px;
} 
.card-img{

   height: 150px;
}

.titre-ajouté{
    text-align: center;
}

.btn-delete{
    margin: 10px;
    height: 50px;
    width: 150px;
    background-color: #fff;
    border: 1px solid black;
    cursor: pointer;
    color: black;
    transition: all 0.3s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-delete span {
    transition: all 0.3s;
}
.btn-delete:hover {
    letter-spacing: 2px;
}