* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-decoration: none; 
    list-style: none;
}
body{
    height: auto;
    width: 100%;
    float: left ;
    background-color: #e4e4e4;
}

h1{
    height: 80px;
    width: 100vw;
    background-color: RGB(91, 82, 255);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.card{
    margin: 20px;
    border: red solid;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.card-body{
    width: 90%;
    height: auto;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.75);
}

.btn-delete{
    margin-top: 25px;
    background-color:  #5149ed;
    color: white;
    width: 220px;
    height: 35px;
    text-align: center;
    cursor: pointer;
    color: white;
    transition: all 0.3s;
    position: relative;
}

.btn-delete span {
    transition: all 0.3s;
}

.btn-delete:hover{
    background-color: white;
    border: 1px solid grey;
    color:  #5149ed;
    width: 220px;
    letter-spacing: 2px;
}
