.footer{
    margin-top: 200px;
    height: 200px;
    width: 100%;
    background-color: RGB(87, 114, 132);
    background: linear-gradient( rgba(0, 0, 0, 0.94), rgba(0, 0, 0, 0.81)),url("/images/manga.png") ;
    background-repeat: no-repeat;
    background-position: center;
}