* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-decoration: none; 
    list-style: none;
  }
  body {
    width: 100vw;
    position: absolute;
    overflow-x: hidden;
  }
  
  a {
    color: white !important;
  }

  nav{
      display: inline-block;
      position:absolute;
  }
/* probleme */
.raccourcitextetextSnippetPanelList {
  visibility: hidden;
  display: none;
}   

.raccourcitextetextSnippetOpenButton {
  visibility: hidden;
  display: none;
}
 /* -------------------------------- */
  

  .jumbotron{
    height: 900px;  
    background: linear-gradient( rgba(0, 0, 0, 0.831), rgba(0, 0, 0, 0.363)),url("/images/manga.png") ;
    background-repeat: cover;
    color: white;
    border-radius: 0%;
    display: flex;
    align-items: center;
  }
  
  .text{
margin-left: 20px;
  }

  .text h1{
    color: white;
  }
  
  


