* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-decoration: none; 
    list-style: none;
}

body {
    width: 100%;
    position: absolute;
}

nav{ 
    height: 400px;
    width: 100%;  
    margin-bottom: 80px;
    
}
/* probleme */
.raccourcitextetextSnippetPanelList {
    visibility: hidden;
    display: none;
  }   
  
  .raccourcitextetextSnippetOpenButton {
    visibility: hidden;
    display: none;
  }
   /* -------------------------------- */

.head{
    color: white;
    margin-left: 300px;
    margin-top: 85px;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    justify-content: space-around;
}

.logo{
     margin-left: 80px;  
}
      
