* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-decoration: none; 
    list-style: none;
    
}

body {
    width: 100%;
    position: absolute;
}



/*---- Navbar ----*/
.navbar{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background: linear-gradient( rgba(0, 0, 0, 0.831), rgba(0, 0, 0, 0.363)),url("/images/manga.png") ;
    background-repeat: round;
    background-position: center;
    height: 800px;
    width: 100%;  
    margin-bottom: 80px;
    
}

.container{
    max-width: 100vw;
}

.navbar-nav{
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.nav-link{
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    display: flex;

}

.nav-link:hover{
    border-left: white solid 4px;
    color: white;
    letter-spacing: 2px;
}
.nav-link span {
    transition: all 0.3s;
}



/*---- paragraphe ----*/

.media{
    color: white;
    margin-left: 300px;
    margin-top: 105px;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    justify-content: space-around;

}
.mt-0{
    font-weight: 600;
    font-size: 70px;  
}

.navbar-brand{
     margin-left: 80px;  
}
      

.btnhead{
    background-color: rgba(128, 128, 128, 0);
}
.btnhead:hover{
    background-color: rgba(128, 128, 128, 0);
}

.btnhead{
    border: white solid 2px;
    margin-top: 15px;
    color: white;
    height: 40px;
    width: 200px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnhead span{
    transition: all 0.3s;
}

.btnhead:hover{
    color: white;
    letter-spacing: 2px;
}


/* Modal */

.container {
    padding: 2rem 0rem;
  }
  
  @media (min-width: 576px){
    .modal-dialog {
      max-width: 400px;
    }
    .modal-content {
        max-width: 400px;
        padding: 1rem;
    } 
}
  
.close {
      margin-top: -1.5rem;
    }

  
  .form-title {
    margin: -2rem 0rem 2rem;
  }
  
  .btn-round {
    border-radius: 3rem;
  }
  
  .delimiter {
    padding: 1rem;  
  }
  
.btn {
     margin: 0 0.5rem 1rem;
}

  
  .signup-section {
    padding: 0.3rem 0rem;
  }

