* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-decoration: none; 
    list-style: none;
    
}

.section1{
    height: auto;
    width: 100%;
}

.card-body {
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}

/* Video */

.ParaVedio{
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    width: 100vw;
  }