* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-decoration: none; 
    list-style: none;
    
}

.section1{
    height: auto;
    width: 100%;
}

.card-body {
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}


/* Video */


.intro {
    height: 100vh;
  }
  
  .intro video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .intro h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: white;
  }
  
  section {
    height: 100vh;
    color: black;
  }
  
  section h1 {
    padding-top: 300px;
    text-align: center;
    font-size: 80px;
  }
