body {
    font-family: 'lato', sans-serif;
    overflow-x: hidden;
}

/* probleme */
.raccourcitextetextSnippetPanelList {
    visibility: hidden;
    display: none;
  }   
  
  .raccourcitextetextSnippetOpenButton {
    visibility: hidden;
    display: none;
  }
   /* -------------------------------- */
.container{
margin-top: 40px;
}

.container2 {
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
}
h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
}
h2 small {
    font-size: 0.5em;
}
.responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: ;
    margin-bottom: 25px;
}
.responsive-table .table-header {
    background-color: #95a5a6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
.responsive-table .table-row {
    background-color: #fff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.responsive-table .col-1 {
    flex-basis: 3%;
}
.responsive-table .col-2 {
    flex-basis: 14%;
}
.responsive-table .col-3 {
    flex-basis: 14%;
}
.responsive-table .col-4 {
    flex-basis: 35%;
}
.responsive-table .col-5 {
    flex-basis: 12%;
}
.responsive-table .col-6 {
    flex-basis: 11%;
}

@media all and (max-width: 767px) {
    .responsive-table .table-header {
        display: none;
   }
    .responsive-table li {
        display: block;
   }
    .responsive-table .col {
        flex-basis: 100%;
   }
    .responsive-table .col {
        display: flex;
        padding: 5px 0;
   }
    .responsive-table .col:before {
        color: #6c7a89;
        padding-right: 5px;
        content: attr(data-label);
        flex-basis: 30%;
        text-align: right;
   }
}



/* Partie CREATE Liste Manga */
.page{
    margin-top: 50px;
}

.titre-article{
    margin-bottom: 20px;
}

.content{
    margin-top: 60px;
}

.content .form-group{
    margin-bottom: 2rem;
}
