* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-decoration: none; 
    list-style: none;
}

body {
    width: 100%;
    position: absolute;
}

nav{
    background: linear-gradient( rgba(0, 0, 0, 0.831), rgba(0, 0, 0, 0.363)),url("/images/manga.png") ;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    width: 100vw;  
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar{
    width: 90%;

}


.head{
    color: white;
    margin-left: 300px;
    margin-top: 85px;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    justify-content: space-around;
}
.titre{
    font-weight: 600;
    font-size: 70px;  
}

.logo{
     margin-left: 80px;  
}
      

.ul{
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: end;

}

.nav-link{
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
}

.nav-link:hover{
    border-left: white solid 4px;
    color: white;
    letter-spacing: 2px;
}
.nav-link span {
    transition: all 0.3s;
}

.btnhead{
    background: linear-gradient( rgba(0, 0, 0, 0.831), rgba(0, 0, 0, 0.363)) ;
    border: white solid 2px;
    margin-top: 15px;
    color: white;
    height: 40px;
    width: 240px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnhead span{
    transition: all 0.3s;
}
.btnhead:hover{
    background: linear-gradient( rgba(0, 0, 0, 0.831), rgba(0, 0, 0, 0.363)) ;
    color: white;
    letter-spacing: 2px;
}

nav .card{
    display: flex;
    align-items: center;
    background: linear-gradient( rgba(56, 56, 56, 0.004), rgba(0, 0, 0, 0.363)) ;
    background-repeat: no-repeat;
    color: white;
    margin: inherit;
}

/* MODAL */

.modal.fade{
    top: 30%;
}
.modal-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}