/*---- Navbar ----*/
.navbar-nav{
    width: 90% !important;
    display: flex;
    justify-content: flex-end !important;
}

.navbar{
    /* border: solid red; */
    display: flex;
    align-items: baseline;
    flex-direction: column;
    background: linear-gradient( rgba(0, 0, 0, 0.831), rgba(0, 0, 0, 0.363)),url("/images/manga.png") ;
    background-repeat: round;
    background-position: center;
    height: 700px;
    width: 100%;  
    margin-bottom: 80px;
}

.navbar-brand{
    margin-left: 60px;  
}

.container{
    max-width: 100vw;
}
.container-fluid{
    /* border:solid yellow; */
    position: fixed;
    width: 100vw;
    margin-left: -16px;
    margin-top: -7px;
    background :linear-gradient( rgba(121, 121, 121, 0.831), rgba(50, 50, 50, 0));
}

.navbar-nav{
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.nav-link{
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    display: flex;

}
.nav-link:hover{
    border-left: white solid 4px;
    color: white;
    letter-spacing: 2px;
}
.nav-link span {
    transition: all 0.3s;
}

/* Card  */
.card{
    margin-right: auto;
    margin-left: auto;
    margin-top: -400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
