.titre{
    text-align:center;
    margin: 50px;
}

form{
    margin: 80px;
}


.photo{
    margin-top: -180px;
    position: relative;
    height: 300px;
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
  }
  .container {
    max-width: 1140px;
    min-width: 320px;
    width: 100%;
    padding-left:50px;
    padding-right:50px;
    display: flex;
    flex-direction: column;
  }
  
  .text{
      margin-left: 50px;
  }

  .content{
      margin-top: 160px;
      display: flex;
      flex-direction: row;
  }